﻿@model IEnumerable<AppMvcBasica.Models.Produto>

@{
   // Layout = null;
    ViewData["Title"] = "Lista de Produtos";
}

    <h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Novo Produto</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
            </td>
            <td class="text-right">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><ion-icon name="create"></ion-icon></a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><ion-icon name="list"></ion-icon></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><ion-icon name="trash"></ion-icon></a>
            </td>
        </tr>
}
    </tbody>
</table>
