﻿@model AppMvcBasica.Models.Fornecedor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Fornecedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documento" class="control-label"></label>
                <input asp-for="Documento" class="form-control" />
                <span asp-validation-for="Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoFornecedor" class="control-label"></label>
                <input type="radio" value="0" asp-for="TipoFornecedor" checked="@((int)Model.TipoFornecedor == 0)"/> Pessoa Física <br />
                <input type="radio" value="1" asp-for="TipoFornecedor" checked="@((int)Model.TipoFornecedor == 1)"/> Pessoa Jurídica
                <!--
                    <select asp-for="TipoFornecedor" class="form-control"></select>
                    <span asp-validation-for="TipoFornecedor" class="text-danger"></span>
                -->
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
